<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit vel dicta hic minus. Officiis ab dolorum praesentium? Aliquam quos debitis dicta pariatur voluptas impedit velit atque quam commodi mollitia.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum odit recusandae ipsa. Deleniti rerum, velit ducimus voluptate eum recusandae voluptates optio possimus esse repellendus! Sit provident adipisci nesciunt sunt delectus?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vero iusto doloribus magni enim odio sunt? Eum, totam officiis? Nam porro cum, modi dolor dolores nesciunt perspiciatis nemo laudantium accusamus.</p>



    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>